h2 {
    color: #ED5A36;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 27.5px;
    padding-top: 45px;
}

h4 {
    color: #ED5A36;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
}

p {
    color: #203232;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
}

#funds {
    text-align: left;
    margin-left: 195px;
    margin-top: -250px;
    width: 53%;

    color: #203232;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
}

#funds p {
    color: #203232;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 10px;
}

.previous, .next, #move-dropDown, .drop-down, #report, #refresh {
    background-color: #203232;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#move-dropDown, .drop-down {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background: #203232 url(dropdown.png) no-repeat right;
    padding-right: 40px;
}

.next:disabled,
.next[disabled]{
    background-color: #203232c2;
    color: #dedede;
}

#banner{
    width: 241px;
    left: 0px;
    top: 7px;
    margin: 0px;
}

#header {
    background-color: rgb(227, 230, 230);
    border-bottom: 2px solid #203232;
    padding-left: -2px;
}

/* Report modal window styling */

input[type="text"], input[type="date"] {
    border: 2px solid #203232;
    border-radius: 4px;
    padding: 3px;
    color: #203232;
    background-color: #e3e6e6;
    width: 170px;
}

input[type="text"]:focus, input[type="date"]:focus {
    border: 2px solid #ED5A36;
}

input {
    outline: none;
}

#report-title p {
    font-size: 15px;
}

#classNames {
    color: #203232;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
    margin-top: 5px;
}

#print, .close {
    background-color: #203232;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 4px;
}




/*input {
    position: absolute;
    opacity: 0;
}

.radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}*/

body {
    margin: 10px; 
    width: 800px;
    height: 550px;
    border: 2px solid #203232;
}

#frame{
    width: 800px;
    height: 400px;
    overflow: hidden;
    padding-top: 28px;
}

#queue {
    margin: 0;
    padding: 0;
}

#queue li {
    align-content: left;
    float: left;
    list-style-type: none;
    width: 700px;
    /* height: 400px; */
    /* margin-top: 0; */
    padding-left: 70px;
    padding-right: 30px;
    /* z-index: 99; */
}

#footer{
    position: relative;
    margin-top: -61px;
    height: 50px;
    width: 300px;
    float: right;
    /*background-color: #eeb310;*/
    /*background-color: #F47E20;*/
    padding-right: 50px;
    text-align: right;
    color: white;
    z-index: 9; 
}

button.pagination:disabled,
button.pagination[disabled]{
    margin-top: 15px;
    color: #ffffff;
    background-color: #efb310;
}

.pagination{
    display: none;
    margin-top: 15px;
    color: #ffffff;
    background-color: #f5cf68;
    border: 1px solid ; 
}


/*cover slide styling*/
#cover-slide-para{
    height: 150px;
    padding-right: 50px;
}

.move-dropDown{
    position: relative;
    top: 350px;
    left: 0;
}

#results-slide-title{
    position: relative;;
/*    top: -20px;*/
}

#report, #refresh{
    margin-top: 15px;
}

/*cover slide styling --- ends*/


/*section slide styling */
.section-intro{
    height: 150px;
    padding-right: 50px;
}
/*section slide styling ---ends */


/*question slide styling*/
#question{
    height: 40px;
}

.question-column{
    box-sizing: border-box;
    float: left;
    align-content: center;
    /*width: 50%;*/
    height: 220px; /* Should be removed. Only for demonstration */

    color: #203232;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
}

.question-left{
    width: 70%;
    padding-top: 24px;
}

.question-right{
    width: 30%;
    padding-top: 14px;
}

label {
  display: block;
}

.img{
    width: 200px;
    height: 200px;
}

.disclaimer{
    font-size: 10px;
}
/*question slide styling --- ends */


/*results slide styling */
.results-row{
    display: table;
    clear: both;
    width: 700px;
    height: 300px;
}

.results-column{
    box-sizing: border-box;
    float: left;
    align-content: center;
    width: 50%;

    color: #203232;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 15px;
}

#canvas-holder {
    position: relative;
    width: 95%;
    top: -20px;
}

#pieChart {
    position: relative;
   /* margin-top: -25px;*/
}

.legend {
    position: right;
    font-weight: normal;
    font-size: @size + 2;
}

/*results slide styling --- ends */





#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 100px;
    left: 200px;
    z-index: 99; /* Sit on top */
    width: 425px; /* Full width */
    height: 425px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    border: 2px solid #203232;
    box-shadow: 3px 3px 20px 0px #888888;
}

#report-window{
    padding: 10px;

}

.report-row {
    display: table;
    clear: both;
    width: 375px;
    height: 185px;
}

.report-column{
    box-sizing: border-box;
    float: left;
    align-content: center;
    width: 50%;
    margin-top: -16px;
}