
body {
    margin: 0; 
    width: 800px;
    height: 550px;
    border: 1px solid #eeb310; 
}

#banner{
    width: 800px; 
    height:80px; 
    margin: 0
}

#frame{
    width: 800px; 
    height: 400px; 
    overflow: hidden;
   
}

#queue {
    margin: 0; 
    padding: 0;
}

li {
    align-content: left;
    float: left; 
    list-style-type: none; 
    width: 700px; 
    height: 400px; 
    margin-top: 0;
    padding-left: 70px; 
    padding-right: 30px;
    z-index: 99;
}

#footer{
    position: relative;
    height: 50px;
    width: 750px;
    background-color: #eeb310;
    padding-right: 50px;
    text-align: right;
    color: white;
    z-index: 9; 
    
}

button.bt:disabled,
button.bt[disabled]{
    margin-top: 15px;
    color: #ffffff;
    background-color: #efb310;
}
.bt{
    margin-top: 15px;
    color: #ffffff;
    background-color: #f5cf68;
    border: 1px solid ; 
}
#report, #refresh{
    color: #ffffff;
    background-color: #f5cf68;
    border: 1px solid ; 
}





#cover-slide-title{
    height: 50px;
}

#cover-slide-para{
    height: 150px;
}

.move-dropDown{
    position: relative;
    top: 350px;
    left: 0; 
}
















































label {
  display: block;
}

.disclaimer{
    font-size: 10px;
}

#slide1 h3{
    font-size:13px;

}






.row:after {
    display: table;
    clear: both;
}
.column {
    box-sizing: border-box;
    float: left;
    align-content: center;
    width: 50%;
    height: 250px; /* Should be removed. Only for demonstration */
}

#canvas-holder {
    position: relative;
    width: 100%;

}

#pieChart {
    position: relative;
   /* margin-top: -25px;*/
}


#objectiveTitle {
    color: #666;
}

#objectiveText {
    color: #666;
    font-size: 10px;
    font-weight: bold;
}

.legend {
    position: right;
    font-weight: normal;
    font-size: @size + 2;
}




#funds {
    font-size: 10px;
    text-align: left;
    margin-left: 195px;
    margin-top: -230px;
    width: 53%;
    font-family: verdana;
}

#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 100px;
    left: 200px;
    z-index: 99; /* Sit on top */
    width: 400px; /* Full width */
    height: 400px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    border: 1px solid #eeb310; 
}

#rightColumn{
    margin-top: -10px;
    height: 260px;
}

#report-window{
    padding: 10px;

}

.next, .previous{
    background-color: #f5cf68;
    /*border: 1px solid ; */
}